*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0b0b0b;
color:white;
font-family:Arial,sans-serif;
padding:40px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.logo-wrap{
display:flex;
align-items:center;
gap:12px;
}

.logo{
width:45px;
height:45px;
object-fit:contain;
}

.logo-text{
font-size:24px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
opacity:0.85;
font-size:15px;
}

.hero{
max-width:950px;
margin:auto;
text-align:center;
padding-top:20px;
}

.badge{
display:inline-block;
padding:10px 20px;
background:#1b1325;
color:#b57cff;
border-radius:40px;
margin-bottom:25px;
font-size:14px;
}

h1{
font-size:64px;
line-height:1.05;
letter-spacing:-2px;
margin-bottom:5px;
}

.second-line{
margin-bottom:25px;
}

.purple{
color:#a855f7;
}

.subtext{
font-size:20px;
opacity:0.75;
max-width:650px;
margin:auto;
margin-bottom:40px;
line-height:1.6;
}

form{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

input{
padding:18px;
width:250px;
border:none;
border-radius:14px;
font-size:15px;
outline:none;
}

button{
padding:18px 24px;
border:none;
border-radius:14px;
background:#32104a;
color:white;
font-weight:bold;
cursor:pointer;
}

#success-message{
margin-top:20px;
font-size:16px;
opacity:0.8;
}

.roadmap{
display:flex;
justify-content:center;
gap:20px;
margin-top:80px;
flex-wrap:wrap;
}

.box{
padding:28px;
border-radius:16px;
font-weight:bold;
font-size:16px;
min-width:220px;
text-align:center;
background:#4c1d95;
}

.about{
max-width:850px;
margin:120px auto;
line-height:1.9;
text-align:justify;
}

.about h2{
margin-bottom:30px;
font-size:42px;
text-align:left;
}

.about p{
margin-bottom:20px;
opacity:0.8;
font-size:18px;
}

.socials{
display:flex;
justify-content:center;
gap:20px;
margin-top:60px;
}

.socials a{
text-decoration:none;
font-size:24px;
padding:15px;
background:#181818;
border-radius:12px;
color:#a855f7;
}

footer{
margin-top:100px;
display:flex;
justify-content:flex-start;
}

.footer-logo{
width:50px;
}
